* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.text_h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #404040;
}
.text_regular, 
input[type="text"],
input[type="button"],
input[type="email"],
input[type="password"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #404040;
}
.text_light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #808080;
}

input[type="text"],
input[type="button"],
input[type="email"],
input[type="password"] {
    padding: 3px;
}

a:hover,
.refElement:hover {
    opacity: 70%;
}

.appLayout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.appHeader {
    grid-column: 1/-1;
    grid-row: 1;
    background-color: #e0e0e0;
    border-radius: 10px;
}