.registerMenu__container {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.registerMenu__container a {
    text-decoration: none;
}

.registerMenu__signUp {
    border: 1px solid #fff;
    padding: 5px;
}